<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--所有配置內容寫在這個標籤內-->
<mapper namespace="com.tedu.weibopractice2.UserMapper">
    <select id="selectByUsername" resultType="com.tedu.weibopractice2.pojo.vo.UserVO">
        SELECT id,nickname,password FROM user
        WHERE username = #{username}
    </select>
    <insert id="insert">
        INSERT INTO user VALUES (NULL,#{username},#{password},#{nickname},#{created})
    </insert>
</mapper>
