<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--所有配置內容寫在這個標籤內-->
<mapper namespace="com.tedu.weibopractice2.WeiboMapper">
    <insert id="insert">
        INSERT INTO weibo VALUES (NULL ,#{content},#{created},#{userId})
    </insert>
    <select id="selectIndex" resultType="com.tedu.weibopractice2.pojo.vo.WeiboVO">
        SELECT weibo.id,content,u.nickname
        FROM weibo
        JOIN user u ON user_id = u.id
    </select>
    <select id="selectById" resultType="com.tedu.weibopractice2.pojo.vo.WeiboDetailVO">
        SELECT w.id,u.nickname,w.content,w.created
        FROM weibo w
        JOIN user u ON w.user_id=u.id
        WHERE w.id=#{id}
    </select>
</mapper>
