<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h1>微博詳情頁面</h1>
    <h2><span style="color:mediumvioletred">{{weibo.nickname}}</span>:{{weibo.content}}</h2>
    <p>發佈於:{{weibo.created}}</p>
    <hr>
    <div v-for="c in arr">
        <h4>
            <span style="color:red">{{c.nickname}}評論道:</span>{{c.content}}
            <span style="float: right">發佈於：{{c.created}}</span>
        </h4>
    </div>

    <textarea cols="30" rows="3" placeholder="評論內容..." style="white-space: pre-wrap" v-model="comment.content"></textarea>
    <input type="button" value="評論" @click="insert()">
</div>

<!-- 引入axios和vue的框架文件 -->
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el: "body>div",
        data:{
            weibo:{},
            comment:{content:""},
            arr:[]
        },
        methods:{
            insert(){
                // 查看評論表:id(不需要傳遞)、content、created(服務器生成)
                // user_id(當前登錄用戶的id)、weibo_id(在weibo對象中獲取)
                // 發佈評論時需要把當前瀏覽的微博id添加到評論對象中
                v.comment.weiboId = v.weibo.id;
                // 發請求,發佈評論
                axios.post("/v1/comment/insert", v.comment).then(function (response){
                    // 未登錄不能評論
                    if (response.data==1){
                        location.reload(); // 刷新頁面
                    }else{
                        alert("請先登錄");
                        location.href = "/login.html";
                    }
                })
            }
        },
        created: function (){
            axios.get("/v1/weibo/selectById"+location.search).then(function (response){
                v.weibo = response.data;
            })

            // 發請求獲取當前微博相關的評論
            // 上面的get()會開線程發請求,主線程會繼續往下走
            axios.get("/v1/comment/selectByWeiboId"+location.search).then(function (response){
                v.arr = response.data;
            })
        }
    })
</script>

</body>
</html>
