<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--所有配置內容寫在這個標籤內-->
<mapper namespace="com.tedu.weibopractice1.WeiboMapper">
    <!--微博列表-->
    <select id="selectIndex" resultType="com.tedu.weibopractice1.pojo.vo.WeiboVO">
        SELECT w.id,w.content,u.nickname
        FROM weibo w
        JOIN user u ON w.user_id=u.id
    </select>
    <!--微博詳情-->
    <select id="selectById" resultType="com.tedu.weibopractice1.pojo.vo.WeiboDetailVO">
        SELECT w.id,w.content,w.created,u.nickname
        FROM weibo w
        JOIN user u ON w.user_id = u.id
        WHERE w.id = #{id}
    </select>
</mapper>
